@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Vazirmatn", sans-serif;

  --color-royal-500: #7c3aed;   
  --color-royal-600: #6d28d9;
  --color-royal-700: #5b21b6;

  --color-blush-500: #ec4899;   
  --color-blush-600: #db2777;
}

html {
  direction: rtl;
}

body {
  font-family: var(--font-sans);
  background-color: white;
  color: black;
  line-height: 1.8;
}

.dark body {
  background-color: black;
  color: white;
}